html,
body {
  padding: 0;
  margin: 0;
  background-color: #f2f2f2;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  outline: none;
}
.content{
  max-width: 640px;
  width: 100%;
  margin: 0 auto;
  
}
.content--full {
  max-width: 1000px;
}
.wrapper{
  padding-top: 75px;
  display: flex;
}
.MuiSvgIcon-root{
  fill: black !important;
}